.text{
    flex: 1 ;
    border: 2px solid grey;
    border-radius: 10px; 
    display: flex; 
    flex-direction: column;
    padding: 20px; 
    row-gap: 15px;
    overflow-y:auto;

    .cadre{
        padding: 12px 30px ;
        border-radius:  30px; 
        color: white; 
        background-color: grey;
        float :right; 
        -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.1); 
        box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.1);
        &.current-user{
            background: var(--my-green);
            float: left; 
        }
    }
}